APP_NAME=GestFinance
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gestfinance
DB_USERNAME=root
DB_PASSWORD=

CSRF_SECRET=change_me_in_production

SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=587
SMTP_USERNAME=parfait.ngoum@confiance-app.com
SMTP_PASSWORD=6e9d3ae814aefee6160e84de1ed73cd8
SMTP_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@gestfinance.com
MAIL_FROM_NAME="GestFinance"

